@use "../../sass/abstracts" as *;

.project-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 0;
	width: 100%;
}

.project-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $text;
	margin: 8px;

	@include border-rounded;
	background-color: $secondary;
	transition: 0.7s;

	.project-card-btn {
		opacity: 0;
		scale: 0;
	}

	img {
		width: 100%;
	}
}
.project-card:hover {
	background-color: $secondary;
	color: $text;

	cursor: pointer;
}
