@use "../../sass/abstracts" as *;
.project-modal {
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include border-rounded;
	padding: 0px;
	height: 70%;
	position: relative;
	width: 70%;
	border: none;
	margin: auto;

	.project-container {
		width: 100%;
		height: 100%;
		overflow-y: hidden;
		margin: 0px;
		padding: 0px;

		display: flex;
		justify-content: center;

		.website-view {
			width: 101.3%;
			height: 100%;
			margin: 0px;
			padding: 0px;
			border-width: 0px;
		}
		.mobile-view {
			width: 414px;
			height: 896px;
		}
	}
	.modal-buttons {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;

		bottom: calc(15% - 1.5rem);
		left: calc(15% - 1.2rem);

		.proj-modal-button {
			margin: 15px 0px;
		}
	}
}

.project-detail-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.project-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.project-info {
	width: 40%;

	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	@include border-rounded;
	background-color: $secondary;
	box-shadow: 6px 6px 33px 1px $background;
}

.project-skills {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	.project-skill {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		margin: 1em;

		width: 3em;
		height: 3em;
		.project-skill-logo {
			width: 30px;
			height: 30px;
		}
		.tooltip {
			opacity: 0;
			font-size: small;
			color: $text;

			display: flex;
			align-items: center;
			justify-content: center;
			transition-duration: 0.2s;
			pointer-events: none;
			letter-spacing: 0.5px;
		}

		&:hover .tooltip {
			top: -40px;
			opacity: 1;
			transition-duration: 0.3s;
		}
	}
}

.website-mockup {
	flex: 1;
	max-width: 100%;
}

@media (max-width: 768px) {
	.open-website-modal-button {
		display: none;
	}

	.project-info {
		width: 100%;
	}
}
