@use "./variables" as *;

@mixin border-rounded {
	border-radius: 10px;
}

//ScreenSize Mixin:

@mixin screen($size, $pixels: $breakpoint-small) {
	@if $size == "small" {
		@media screen and (max-width: $breakpoint-small) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin flex-display($direction: row, $justify: center, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
