@import "./abstracts";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
	box-sizing: border-box;
}

html {
	@include font($montserrat);
}

body {
	background-color: #e5e9f2;

	margin: 0 auto;
	padding: 0;
	padding-top: 79px;
	padding-bottom: 50px;
	display: block;

	@include screen("small") {
		padding-top: 50px;
	}
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.page {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;

	@include screen("small") {
		// width: 100%;
	}
}
