@import "./abstracts";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  box-sizing: border-box;
}

html {
  @include font($montserrat);
}

body {
  background-color: $background;
  margin: 0 auto;
  padding: 0;
  text-align: justify;
  display: block;
  color: $text;
  font-size: 16px;
  @include screen("small") {
    font-size: 14px;
  }
}

h1 {
  @include font($righteous, $heading-1-size);
  font-size: $display-font-size;
  word-spacing: 10px;
  text-transform: uppercase;
  @include screen("small") {
    font-size: $heading-1-size;
  }
}

h2 {
  font-size: $heading-2-size;
}

h3 {
  font-size: $heading-3-size;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.page {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: auto;
  height: calc(100vh - 50px);
  .inner-page {
    min-height: 100%;
    padding-bottom: 30px;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    scroll-margin-top: 0px;
  }
  @include screen("small") {
    height: calc(100vh - 100spx);
    margin-bottom: 40px;
  }
}

.gradient {
  background: linear-gradient(120deg, $primary, $accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
  font-style: italic;
}
