@use "../../sass/abstracts" as *;

.contact-item {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  width: 90%;
  @include border-rounded;
  background-color: $secondary-alpha-20;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: black;

  .copy-info {
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: space-between;
    align-items: center;

    .label {
    }
    .text {
      display: none;
      width: 100%;
      text-align: end;
      font-size: 0.75em;
      overflow: hidden;
    }

    .copy-btn {
      background: none;
      border: none;
      margin: 0;
      color: $accent;
      font-size: 1.2em;
    }

    &:hover {
      .text {
        display: block;
      }
    }
  }
}

@include screen("small") {
  .contact-item {
    max-width: 8em;

    justify-content: center;
    align-items: center;
    .copy-info {
      display: flex;
      justify-content: center;
      .label,
      .text {
        display: none;
      }
      &:hover {
        .label,
        .text {
          display: none;
        }
      }
    }
  }
}
