@use "./functions" as *;

$dark-text: hsl(216, 14%, 7%);
$text: white;
$background: #131313;
$primary: #4854ff;
$secondary: #4e4e4e;
$accent: #ff11db;

$shades: 9;
$alpha-values: 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9;

$secondary-alpha-10: color-change-action($secondary, "alpha", 10%);
$secondary-alpha-20: color-change-action($secondary, "alpha", 20%);
$secondary-alpha-30: color-change-action($secondary, "alpha", 30%);
$secondary-alpha-40: color-change-action($secondary, "alpha", 40%);
$secondary-alpha-50: color-change-action($secondary, "alpha", 50%);
