$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$font-size-small: 0.9rem;
$font-size-large: 1.1rem;
$heading-1-size: 2.5rem;
$heading-2-size: 2rem;
$heading-3-size: 1.5rem;

$font-italic: italic;

$montserrat: "Montserrat", sans-serif;
$montserrat-italic: "Montserrat Italic", sans-serif;
$righteous: "Righteous", sans-serif;

$letter-spacing: 0.1rem;
