$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$font-size-small: 0.8rem;
$font-size-large: 1.1rem;
$display-font-size: 3.5rem;
$heading-1-size: 2.75rem;
$heading-2-size: 2.5rem;
$heading-3-size: 1.2rem;

$font-italic: italic;

$montserrat: "Montserrat", sans-serif;
$montserrat-italic: "Montserrat Italic", sans-serif;
$righteous: "Righteous", sans-serif;

$letter-spacing: 0.1em;
