@use "../../sass/mixins" as m;
@use "../../sass/variables" as *;

.course-container {
	height: 100%;
	.course {
		display: flex;
		// flex-direction: ;
		align-items: center;
		justify-content: center;
		@include m.border-rounded;
		padding: 0px;

		position: relative;
		width: 100%;
		border: none;
		// margin-bottom: 30px;
		.course-institute {
			height: 7em;
			width: 10em;
			border-right: 1px solid black;
			.institute-logo {
				height: 7em;
				width: 10em;
				padding: 20px;
			}
		}
		.info {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			height: 7em;
			width: 20em;
			padding: 20px;
		}
	}
}
