@use "../sass/abstracts" as *;
.circle {
  border-radius: 50%;
  background-color: $background;
  height: calc(100vw);
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 50%;
  transform: translateY(-50%);

  @include screen("small") {
    display: none;
  }
}
.about-page {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: calc(100vh - 50px);
  background-color: $primary-alpha-30;
  h1 {
    font-size: $display-font-size;
    word-spacing: 10px;
    text-transform: uppercase;
  }
  h2 {
    @include font($righteous, $heading-1-size);
    text-transform: uppercase;
  }
  #section1 {
    .section1-content {
      text-align: left;
      width: 75%;
      // color: white;
      align-self: flex-start;
      h1 {
        text-align: left;
      }
      p {
        margin-top: 3em;
        font-size: 1.1em;
        line-height: 2em;
        text-align: left;
      }
    }
  }
  #section2 {
    p {
      a {
        color: $accent;
      }
    }
  }

  #section3 {
    .section3-content {
      width: 75%;
      align-self: flex-end;

      // flex-wrap: wrap;
      h2 {
        text-align: left;
      }
      section {
        gap: 5%;
        display: flex;
        width: 100%;
        align-items: center;
        span {
          p {
            // margin-top: 3em;
            // font-size: 1.1em;
            line-height: 2em;
            text-align: left;
          }
        }
      }
    }
  }
  .single-page {
    min-height: 100%;
    scroll-snap-align: start;
    scroll-margin-top: 0px;
    z-index: 2;

    max-width: 1400px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;

    .nav-btn {
      bottom: 20px;
      margin: auto;
      position: absolute;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 50%;
      color: $secondary;

      .arrow {
        font-size: 1.2rem;
        animation: myAnim 15s ease 0s infinite normal none;
        color: $secondary;
        margin-bottom: 5px;
        margin-top: 0px;
      }
      &:hover {
        cursor: pointer;
        color: $text;
      }
    }
  }

  @include screen("small") {
    background-color: $background;

    h1 {
      font-size: $heading-1-size;
    }
    h2 {
      font-size: $heading-2-size;
    }
    #section1 {
      text-align: center;
      .section1-content {
        width: 100%;
        text-align: center;
        align-self: center;
        h1 {
          text-align: center;
        }
        p {
          margin-top: auto;
          line-height: 1.75rem;
          font-size: 1em;
          text-align: left;
        }
      }
    }
    #section3 {
      align-items: center;

      .section3-content {
        width: 100%;
        text-align: left;
        margin-right: auto;
        h2 {
          text-align: center;
        }
        section {
          flex-direction: column;
          align-items: center;

          p {
            text-align: left;
          }
        }
      }
    }
  }
}

// update page css if it has child about-page
.page:has(.about-page) {
  max-width: unset;
  padding: 0px;
}
@keyframes myAnim {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}
