@use "../sass/abstracts" as *;

.nav-back {
  // text-decoration: underline;
  text-decoration-color: $accent;
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100px;
  background: none;
  border: none;
  color: $text;
  @include font($montserrat);
  font-weight: 500;
  margin-top: 10px;
  font-size: 14px;
  position: sticky;
  &:hover {
    font-weight: bold;
  }
  .back-icon {
    font-size: 16px;
  }
}
.project {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  .project-details {
    background-color: $secondary-alpha-20;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;

    padding: 20px;
    @include border-rounded;
    .accordion {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      .accordion-item {
        width: 100%;
        background-color: $secondary-alpha-20;
        @include border-rounded;
      }
    }
  }
  .buttons {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    width: 100%;
    button {
      width: 300px;
      margin: 5px;
      display: flex;
      justify-content: center;
      gap: 10px;
      .proj-detail-icon {
        font-size: 20px;
      }
    }
  }
  img {
    flex: 1;
  }

  @include screen("small") {
    .project-details {
      width: 315px;
      margin: 5px;
      .project-accordion {
        width: 100%;
      }
    }
    .buttons {
      flex-direction: column;
      width: 100%;
      button {
        width: 100%;
      }
    }
    img {
      max-width: 100%;
    }
  }
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  p {
    margin-top: 10px;
    font-size: 1rem;
    color: $primary-color;
  }

  .spinner-circle {
    width: 50px;
    height: 50px;
    border: 5px solid $secondary-alpha-20;
    border-top: 5px solid $primary-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
