footer {
	position: fixed;
	width: 100%;
	background: transparent;
	bottom: 0px;
	height: 40px;
	left: 0px;
	border: 1px solid black;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
