@use "../../sass/abstracts" as *;
@keyframes slide-in-from-top {
	0% {
		transform: translateY(-15%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.modal[open] {
	animation: slide-in-from-top 0.35s ease-out;
}

.modal::backdrop {
	background: rgba(0, 0, 0, 0.9);
}

.modal {
	position: fixed;
	min-width: 70%;
	min-height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	margin: auto;
	background-color: $secondary;
	color: $text;
	@include border-rounded;
	border: none;

	.close-button {
		position: fixed;
		top: calc(15% - 2rem);
		right: calc(15% - 1.25rem);

		margin: 15px 0px;

		display: flex;
		justify-content: center;
		align-items: center;

		text-align: center;

		text-decoration: none;
		// &:hover {

		// }
	}
}
